<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
</head>
<body>
<div th:fragment="post_fragment(posts)">
  <div th:each="post : ${posts}" class="card w-100 shadow-xss rounded-xxl border-0 p-4 mb-3">
    <div class="card-body p-0 d-flex">
      <figure class="avatar me-3"><img src="/assets/images/user-7.png" alt="image"
                                       class="shadow-sm rounded-circle w45"></figure>
      <h4 class="fw-700 text-grey-900 font-xssss mt-1" th:text="${post.user.fullName}">
<span class=" d-block font-xssss fw-500 mt-1 lh-3 text-grey-500"
      th:text="${post.createAt}"></span>
      </h4>

      <a href="#" class="ms-auto" id="dropdownMenu2" data-bs-toggle="dropdown"
         aria-expanded="false"><i
              class="ti-more-alt text-grey-900 btn-round-md bg-greylight font-xss"></i></a>
      <div class="dropdown-menu dropdown-menu-end p-4 rounded-xxl border-0 shadow-lg"
           aria-labelledby="dropdownMenu2">
        <div class="card-body p-0 d-flex">
          <i class="feather-bookmark text-grey-500 me-3 font-lg"></i>
          <h4 class="fw-600 text-grey-900 font-xssss mt-0 me-4">Save Link <span
                  class="d-block font-xsssss fw-500 mt-1 lh-3 text-grey-500">Add this
                                                    to your saved items</span>
          </h4>
        </div>
        <div class="card-body p-0 d-flex mt-2">
          <i class="feather-alert-circle text-grey-500 me-3 font-lg"></i>
          <h4 class="fw-600 text-grey-900 font-xssss mt-0 me-4">Hide Post <span
                  class="d-block font-xsssss fw-500 mt-1 lh-3 text-grey-500">Save to
                                                    your saved items</span>
          </h4>
        </div>
        <div class="card-body p-0 d-flex mt-2">
          <i class="feather-alert-octagon text-grey-500 me-3 font-lg"></i>
          <h4 class="fw-600 text-grey-900 font-xssss mt-0 me-4">Hide all from Group
            <span class="d-block font-xsssss fw-500 mt-1 lh-3 text-grey-500">Save to
                                                    your saved items</span>
          </h4>
        </div>
        <div class="card-body p-0 d-flex mt-2">
          <i class="feather-lock text-grey-500 me-3 font-lg"></i>
          <h4 class="fw-600 mb-0 text-grey-900 font-xssss mt-0 me-4">Unfollow Group
            <span class="d-block font-xsssss fw-500 mt-1 lh-3 text-grey-500">Save to
                                                    your saved items</span>
          </h4>
        </div>
      </div>
    </div>
    <div class="card-body p-0 me-lg-5">
      <p class="fw-500 text-grey-500 lh-26 font-xssss w-100" th:text="${post.postContent}"></p>
    </div>
    <div class="card-body d-block p-0">
      <div class="row ps-2 pe-2">
        <div class="col-xs-4 col-sm-4 p-1"><a href="/assets/images/t-10.jpg"
                                              data-lightbox="roadtrip"><img src="/assets/images/t-10.jpg"
                                                                            class="rounded-3 w-100" alt="image"></a></div>
        <div class="col-xs-4 col-sm-4 p-1"><a href="/assets/images/t-11.jpg"
                                              data-lightbox="roadtrip"><img src="/assets/images/t-11.jpg"
                                                                            class="rounded-3 w-100" alt="image"></a></div>
        <div class="col-xs-4 col-sm-4 p-1"><a href="/assets/images/t-12.jpg"
                                              data-lightbox="roadtrip" class="position-relative d-block"><img
                src="/assets/images/t-12.jpg" class="rounded-3 w-100" alt="image"><span
                class="img-count font-sm text-white ls-3 fw-600"><b>+2</b></span></a>
        </div>
      </div>
    </div>
    <div class="card-body d-flex p-0 mt-3">
      <a href="#"
         class="emoji-btn d-flex align-items-center fw-600 text-grey-900 text-dark lh-26 font-xss me-2"><i
              class="feather-thumbs-up text-white bg-primary-gradiant me-1 btn-round-xs font-xss"></i>
        <i
                class="feather-heart text-white bg-red-gradiant me-2 btn-round-xs font-xss"></i>2.8K
        Like</a>
      <div class="emoji-wrap">
        <ul class="emojis list-inline mb-0">
          <li class="emoji list-inline-item"><i class="em em---1"></i></li>
          <li class="emoji list-inline-item"><i class="em em-angry"></i></li>
          <li class="emoji list-inline-item"><i class="em em-anguished"></i></li>
          <li class="emoji list-inline-item"><i class="em em-astonished"></i></li>
          <li class="emoji list-inline-item"><i class="em em-blush"></i></li>
          <li class="emoji list-inline-item"><i class="em em-clap"></i></li>
          <li class="emoji list-inline-item"><i class="em em-cry"></i></li>
          <li class="emoji list-inline-item"><i class="em em-full_moon_with_face"></i>
          </li>
        </ul>
      </div>
      <a
              class="comment-btn d-flex align-items-center fw-600 text-grey-900 text-dark lh-26 font-xssss"><i
              class="feather-message-circle text-dark text-grey-900 btn-round-sm font-lg"></i><span
              class="d-none-xss">22 Comment</span></a>
      <a href="#" id="dropdownMenu21" data-bs-toggle="dropdown" aria-expanded="false"
         class="ms-auto d-flex align-items-center fw-600 text-grey-900 text-dark lh-26 font-xssss"><i
              class="feather-share-2 text-grey-900 text-dark btn-round-sm font-lg"></i><span
              class="d-none-xs">Share</span></a>
      <div class="dropdown-menu dropdown-menu-end p-4 rounded-xxl border-0 shadow-lg"
           aria-labelledby="dropdownMenu21">
        <h4 class="fw-700 font-xss text-grey-900 d-flex align-items-center">Share <i
                class="feather-x ms-auto font-xssss btn-round-xs bg-greylight text-grey-900 me-2"></i>
        </h4>
        <div class="card-body p-0 d-flex">
          <ul class="d-flex align-items-center justify-content-between mt-2">
            <li class="me-1"><a href="#" class="btn-round-lg bg-facebook"><i
                    class="font-xs ti-facebook text-white"></i></a></li>
            <li class="me-1"><a href="#" class="btn-round-lg bg-twiiter"><i
                    class="font-xs ti-twitter-alt text-white"></i></a></li>
            <li class="me-1"><a href="#" class="btn-round-lg bg-linkedin"><i
                    class="font-xs ti-linkedin text-white"></i></a></li>
            <li class="me-1"><a href="#" class="btn-round-lg bg-instagram"><i
                    class="font-xs ti-instagram text-white"></i></a></li>
            <li><a href="#" class="btn-round-lg bg-pinterest"><i
                    class="font-xs ti-pinterest text-white"></i></a></li>
          </ul>
        </div>
        <div class="card-body p-0 d-flex">
          <ul class="d-flex align-items-center justify-content-between mt-2">
            <li class="me-1"><a href="#" class="btn-round-lg bg-tumblr"><i
                    class="font-xs ti-tumblr text-white"></i></a></li>
            <li class="me-1"><a href="#" class="btn-round-lg bg-youtube"><i
                    class="font-xs ti-youtube text-white"></i></a></li>
            <li class="me-1"><a href="#" class="btn-round-lg bg-flicker"><i
                    class="font-xs ti-flickr text-white"></i></a></li>
            <li class="me-1"><a href="#" class="btn-round-lg bg-black"><i
                    class="font-xs ti-vimeo-alt text-white"></i></a></li>
            <li><a href="#" class="btn-round-lg bg-whatsup"><i
                    class="font-xs feather-phone text-white"></i></a></li>
          </ul>
        </div>
        <h4 class="fw-700 font-xssss mt-4 text-grey-500 d-flex align-items-center mb-3">
          Copy
          Link</h4>
        <i
                class="feather-copy position-absolute right-35 mt-3 font-xs text-grey-500"></i>
        <input type="text" value="https://socia.be/1rGxjoJKVF0"
               class="bg-grey text-grey-500 font-xssss border-0 lh-32 p-2 font-xssss fw-600 rounded-3 w-100 theme-dark-bg">
      </div>
    </div>
    <hr />
    <div class="comments-list card-body d-flex p-0 mt-3" style="display: none; max-height: 300px; overflow-y: auto;">

      <div class="comment">
        <div class="card-body p-0 d-flex">
          <figure class="avatar me-3"><img src="/assets/images/user-7.png" alt="image"
                                           class="shadow-sm rounded-circle w45"></figure>

          <div class="comment bg-light rounded-xxl p-3">
            <h4 class="fw-700 text-grey-900 font-xssss mt-1">Surfiya Zakir </h4>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nulla
            dolor, ornare at commodo non, feugiat non nisi.
          </div>
        </div>
        <div class="ms-6">
          <div class="card-body d-flex p-0 mt-1">
            <a
                    class="d-flex align-items-center fw-600 text-grey-500 lh-26 font-xssss me-2">
              3 hours ago</a>
            <a href="#"
               class="emoji-bttn d-flex align-items-center fw-600 text-grey-900 text-dark lh-26 font-xssss me-2">2.8K
              Like</a>
            <a href="#"
               class="d-flex align-items-center fw-600 text-grey-900 text-dark lh-26 font-xssss"><i
                    class="feather-message-circle text-dark text-grey-900 btn-round-sm font-lg"></i><span
                    class="d-none-xss">Reply</span></a>
          </div>
        </div>
        <div class="reply ms-6 mt-2">
          <div class="card-body p-0 d-flex">
            <figure class="avatar me-3"><img src="/assets/images/user-7.png" alt="image"
                                             class="shadow-sm rounded-circle w45"></figure>

            <div class="comment bg-light rounded-xxl p-3">
              <h4 class="fw-700 text-grey-900 font-xssss mt-1">Surfiya Zakir </h4>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nulla
              dolor, ornare at commodo non, feugiat non nisi.
            </div>
          </div>
          <div class="ms-6">
            <div class="card-body d-flex p-0 mt-1">
              <a
                      class="d-flex align-items-center fw-600 text-grey-500 lh-26 font-xssss me-2">
                3 hours ago</a>
              <a href="#"
                 class="emoji-bttn d-flex align-items-center fw-600 text-grey-900 text-dark lh-26 font-xssss me-2">2.8K
                Like</a>
              <a href="#"
                 class="d-flex align-items-center fw-600 text-grey-900 text-dark lh-26 font-xssss"><i
                      class="feather-message-circle text-dark text-grey-900 btn-round-sm font-lg"></i><span
                      class="d-none-xss">Reply</span></a>
            </div>
          </div>
        </div>
      </div>
      <div class="comment">
        <div class="card-body p-0 d-flex">
          <figure class="avatar me-3"><img src="/assets/images/user-7.png" alt="image"
                                           class="shadow-sm rounded-circle w45"></figure>

          <div class="comment bg-light rounded-xxl p-3">
            <h4 class="fw-700 text-grey-900 font-xssss mt-1">Surfiya Zakir </h4>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nulla
            dolor, ornare at commodo non, feugiat non nisi.
          </div>
        </div>
        <div class="ms-6">
          <div class="card-body d-flex p-0 mt-1">
            <a
                    class="d-flex align-items-center fw-600 text-grey-500 lh-26 font-xssss me-2">
              3 hours ago</a>
            <a href="#"
               class="emoji-bttn d-flex align-items-center fw-600 text-grey-900 text-dark lh-26 font-xssss me-2">2.8K
              Like</a>
            <a href="#"
               class="d-flex align-items-center fw-600 text-grey-900 text-dark lh-26 font-xssss"><i
                    class="feather-message-circle text-dark text-grey-900 btn-round-sm font-lg"></i><span
                    class="d-none-xss">Reply</span></a>
          </div>
        </div>
        <div class="reply ms-6 mt-2">
          <div class="card-body p-0 d-flex">
            <figure class="avatar me-3"><img src="/assets/images/user-7.png" alt="image"
                                             class="shadow-sm rounded-circle w45"></figure>

            <div class="comment bg-light rounded-xxl p-3">
              <h4 class="fw-700 text-grey-900 font-xssss mt-1">Surfiya Zakir </h4>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nulla
              dolor, ornare at commodo non, feugiat non nisi.
            </div>
          </div>
          <div class="ms-6">
            <div class="card-body d-flex p-0 mt-1">
              <a
                      class="d-flex align-items-center fw-600 text-grey-500 lh-26 font-xssss me-2">
                3 hours ago</a>
              <a href="#"
                 class="emoji-bttn d-flex align-items-center fw-600 text-grey-900 text-dark lh-26 font-xssss me-2">2.8K
                Like</a>
              <a href="#"
                 class="d-flex align-items-center fw-600 text-grey-900 text-dark lh-26 font-xssss"><i
                      class="feather-message-circle text-dark text-grey-900 btn-round-sm font-lg"></i><span
                      class="d-none-xss">Reply</span></a>
            </div>
          </div>
        </div>
      </div>
      <div class="comment">
        <div class="card-body p-0 d-flex">
          <figure class="avatar me-3"><img src="/assets/images/user-7.png" alt="image"
                                           class="shadow-sm rounded-circle w45"></figure>

          <div class="comment bg-light rounded-xxl p-3">
            <h4 class="fw-700 text-grey-900 font-xssss mt-1">Surfiya Zakir </h4>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nulla
            dolor, ornare at commodo non, feugiat non nisi.
          </div>
        </div>
        <div class="ms-6">
          <div class="card-body d-flex p-0 mt-1">
            <a
                    class="d-flex align-items-center fw-600 text-grey-500 lh-26 font-xssss me-2">
              3 hours ago</a>
            <a href="#"
               class="emoji-bttn d-flex align-items-center fw-600 text-grey-900 text-dark lh-26 font-xssss me-2">2.8K
              Like</a>
            <a href="#"
               class="d-flex align-items-center fw-600 text-grey-900 text-dark lh-26 font-xssss"><i
                    class="feather-message-circle text-dark text-grey-900 btn-round-sm font-lg"></i><span
                    class="d-none-xss">Reply</span></a>
          </div>
        </div>
        <div class="reply ms-6 mt-2">
          <div class="card-body p-0 d-flex">
            <figure class="avatar me-3"><img src="/assets/images/user-7.png" alt="image"
                                             class="shadow-sm rounded-circle w45"></figure>

            <div class="comment bg-light rounded-xxl p-3">
              <h4 class="fw-700 text-grey-900 font-xssss mt-1">Surfiya Zakir </h4>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nulla
              dolor, ornare at commodo non, feugiat non nisi.
            </div>
          </div>
          <div class="ms-6">
            <div class="card-body d-flex p-0 mt-1">
              <a
                      class="d-flex align-items-center fw-600 text-grey-500 lh-26 font-xssss me-2">
                3 hours ago</a>
              <a href="#"
                 class="emoji-bttn d-flex align-items-center fw-600 text-grey-900 text-dark lh-26 font-xssss me-2">2.8K
                Like</a>
              <a href="#"
                 class="d-flex align-items-center fw-600 text-grey-900 text-dark lh-26 font-xssss"><i
                      class="feather-message-circle text-dark text-grey-900 btn-round-sm font-lg"></i><span
                      class="d-none-xss">Reply</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body p-0 mt-3 position-relative">
      <figure class="avatar position-absolute ms-2 mt-1 top-5">
        <img src="/assets/images/user-8.png" alt="image" class="shadow-sm rounded-circle w30">
      </figure>
      <textarea name="message"
                class="h100 bor-0 w-100 rounded-xxl p-2 ps-5 font-xssss text-grey-500 fw-500 border-light-md theme-dark-bg"
                cols="30" rows="5" placeholder="What's on your mind?"></textarea>
      <figure class="avatar position-absolute font-xssss end-0 me-3 mt-2 top-5">
        <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16"
             viewBox="0 0 512 512">
          <path
                  d="M149.1 64.8L138.7 96H64C28.7 96 0 124.7 0 160V416c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V160c0-35.3-28.7-64-64-64H373.3L362.9 64.8C356.4 45.2 338.1 32 317.4 32H194.6c-20.7 0-39 13.2-45.5 32.8zM256 192a96 96 0 1 1 0 192 96 96 0 1 1 0-192z" />
        </svg>
      </figure>
      <figure class="avatar position-absolute mt-5 top-5 me-3 end-0">
        <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16"
             viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.-->
          <path
                  d="M498.1 5.6c10.1 7 15.4 19.1 13.5 31.2l-64 416c-1.5 9.7-7.4 18.2-16 23s-18.9 5.4-28 1.6L284 427.7l-68.5 74.1c-8.9 9.7-22.9 12.9-35.2 8.1S160 493.2 160 480V396.4c0-4 1.5-7.8 4.2-10.7L331.8 202.8c5.8-6.3 5.6-16-.4-22s-15.7-6.4-22-.7L106 360.8 17.7 316.6C7.1 311.3 .3 300.7 0 288.9s5.9-22.8 16.1-28.7l448-256c10.7-6.1 23.9-5.5 34 1.4z" />
        </svg>
      </figure>
    </div>
  </div>
</div>
</body>
</html>