<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>Card Fragment</title>
</head>
<body>
<div th:fragment="stories_fragment(numberOfStories)" class="owl-carousel category-card owl-theme overflow-hidden nav-none d-flex owl-loaded owl-drag">
    <div class="owl-stage-outer" style="overflow-x: auto; white-space: nowrap;">
        <div class="owl-stage d-flex"
             style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 6664px;">
            <div class="owl-item active" style="width: auto; margin-right: 7px;">
                <div class="item">
                    <div data-bs-toggle="modal" data-bs-target="#Modalstory"
                         class="card w125 h200 d-block border-0 shadow-none rounded-xxxl bg-dark overflow-hidden mb-3 mt-3">
                        <div
                                class="card-body d-block p-3 w-100 position-absolute bottom-0 text-center">
                            <a href="#">
                                                                <span class="btn-round-lg bg-white"><i
                                                                        class="feather-plus font-lg"></i></span>
                                <div class="clearfix"></div>
                                <h4
                                        class="fw-700 position-relative z-index-1 ls-1 font-xssss text-white mt-2 mb-1">
                                    Add Story </h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div th:each="i : ${#numbers.sequence(1, numberOfStories)}" class="owl-item" style="width: auto; margin-right: 7px;">
                <div class="item">
                    <div data-bs-toggle="modal" data-bs-target="#exampleModal1"
                         class="card w125 h200 d-block border-0 shadow-xss rounded-xxxl bg-gradiant-bottom overflow-hidden cursor-pointer mb-3 mt-3"
                         style="background-image: url(/assets/images/s-1.jpg);">
                        <div
                                class="card-body d-block p-3 w-100 position-absolute bottom-0 text-center">
                            <a href="#">
                                <figure
                                        class="avatar ms-auto me-auto mb-0 position-relative w50 z-index-1">
                                    <img src="/assets/images/user-11.png" alt="image"
                                         class="float-right p-0 bg-white rounded-circle w-100 shadow-xss">
                                </figure>
                                <div class="clearfix"></div>
                                <h4
                                        class="fw-600 position-relative z-index-1 ls-1 font-xssss text-white mt-2 mb-1">
                                    Victor Exrixon <span th:text="${i}">i</span></h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="owl-nav">
        <button type="button" role="presentation" class="owl-prev disabled"><i
                class="ti-angle-left"></i></button>
        <button type="button" role="presentation" class="owl-next"><i
                class="ti-angle-right"></i></button>
    </div>
    <div class="owl-dots disabled"></div>
</div>
</body>
</html>
